extends ../includes/layout
doctype

block main-content
 .navbar.navbar-inverse.navbar-fixed-top
  .container
   .navbar-header
    a.navbar-brand(href="/") Example Mean
     h6 Course
   .navbar-collapse.collapse
    ul.nav.navbar-nav
     li
       a(href="/") home
 section.content
  div(ng-view)

  footer.container.text-center
    p &copy; MusicMate Rebirth